exampleShellLauncher.json
[{"id":"76ba9da3.fa7d94","type":"comment","z":"6bacc0fc.0ee78","name":"README - shell file formatting","info":"#!/usr/bin/env osascript\n\ntell application \"System Events\" \n  if \"Terminal\" is not in name of processes then launch application \"Terminal\" \n    tell process \"Terminal\" \n    set frontmost to true \n      if (count windows) is 1 then keystroke \"n\" using command down \n      if (count windows) is 2 then \n    end if \n  end tell \nend tell\n\ntell application \"Terminal\" \n  do script \"`sonic_pi \\\"run_file '~/Dropbox/Code/Ruby/SonicPi/multiRandom.rb'\\\"`\" in window 1\nend tell","x":320,"y":240,"wires":[]},{"id":"c0f70fce.8e269","type":"exec","z":"6bacc0fc.0ee78","command":"exec","addpay":false,"append":"/Users/HoganSound/Dropbox/Code/Ruby/SonicPi/Launchers/runner.sh","useSpawn":"false","timer":"","oldrc":false,"name":"runner.sh","x":440,"y":60,"wires":[["d58a56e7.6c994"],[],[]]},{"id":"efd53a47.217eb8","type":"twitter in","z":"6bacc0fc.0ee78","twitter":"","tags":"node-red, qlab","user":"false","name":"'node-red', 'qlab'","topic":"tweets","inputs":0,"x":100,"y":60,"wires":[["c0f70fce.8e269"]]},{"id":"3c6dada.19172d2","type":"comment","z":"6bacc0fc.0ee78","name":"shell script launcher","info":"","x":470,"y":100,"wires":[]},{"id":"67cfe91e.e63978","type":"comment","z":"6bacc0fc.0ee78","name":"Twitter watcher w/search terms","info":"","x":150,"y":100,"wires":[]},{"id":"71ef711a.15b71","type":"comment","z":"6bacc0fc.0ee78","name":"Duplicate the Twitter - exec node series above for additional search terms and shell script launchers","info":"","x":360,"y":140,"wires":[]},{"id":"d58a56e7.6c994","type":"debug","z":"6bacc0fc.0ee78","name":"do command","active":true,"console":"false","complete":"payload","x":650,"y":40,"wires":[]},{"id":"88c61361.2ce938","type":"comment","z":"6bacc0fc.0ee78","name":"README - Exec node formatting","info":"Running .sh files from node-red exec node:\nCommand = 'exec'\nadditional info = /path/to/your/fileAndExtension\nOutput = when the command is complete - exec mode","x":330,"y":200,"wires":[]}]
